@import "custom-mixins";
@import "plugins";

//global vars
$color-primary: #378fdb;
$color-dark-blue: #2a4878;
$color-contrast-blue: #17468f;
$color-headings: $color-dark-blue;
$color-body-text: #231f20;
$color-primary-lighter: #3b99eb;
$color-primary-darker: #3283c8;
$color-links: $color-primary-darker;
$color-links-hover: darken($color-links, 15%);
$color-secondary: #81d134;
$color-hero-title: #4b4c4e;
$color-grey-blue: #f4f7fc;
$transition-links-in: all 0.2s ease-in;
$transition-links-out: all 0.35s ease-out;
$transition-header: all 0.2s ease-out;

//typography
$font-body: "museo-sans", helvetica, sans-serif;
//$font-condensed: "futura-pt-condensed", helvetica, sans-serif;
$font-headings: $font-body;
$font-awesome: "FontAwesome";

//misc
$nav-breakpoint: 1100px;

* {
	-webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
html {
	font-size: 17px;
}
body {
	font-family: $font-body;
	font-size: 17px;
	font-weight: 300;
	color: $color-body-text;
	max-width: 1680px;
	margin-left: auto;
	margin-right: auto;
}
@for $index from 1 through 6 {
  h#{$index}, .h#{$index}{
    color: $color-headings;
  }
}
h1, .h1 {
	font-size: 2.4rem;
}
h1, h2 {
	font-weight: 700;
}
h3, h5 {
	font-weight: 900;
}
h2, .h2 {
	font-size: 1.8rem;
	line-height: 1.1em;
	margin: 15px 0;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	margin-bottom: 15px;
}
h4, .h4 {
	font-weight: 900;
	font-size: 1.18rem;
	letter-spacing: -0.3px;
	margin: 15px 0;
	line-height: 1.2em;
}
h5, .h5 {
	font-size: 1.12rem;
	margin-bottom: 15px;
	line-height: 1.18em;
}
h6, .h6 {
	font-weight: 500;
	margin: 0.7rem 0;
	font-size: .8em;
}
.display-3 {
	font-size: 2.4rem;
	font-weight: 500;
	@include media-breakpoint-up(sm) {
		font-size: 3rem;
	}
}
@include media-breakpoint-down(sm) {
	html {
		font-size: 15px;
	}
}
a {
	text-decoration: none;
	outline: 0 !important;
	color: $color-links;
	&:hover {
		text-decoration: none;
		outline: 0;
	}
	&:visited {
		color: $color-links;
	}
}
.caret {
	&:after {
		display: inline-block;
		content: "\f105";
		font-family: $font-awesome;
		display: inline-block;
		padding-left: 5px;
	}
}
b, strong {
    font-weight: 500;
}
.text-right, .text-right p {
	text-align: right !important;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-444 {
	color: #444;
}

.jumbotron {
	background-color: transparent;
	margin-bottom: 0px;
}

// header
// header
.site-header {
	position: relative;
	width: 100%;
	padding: 0;
	z-index: 9;
	background: #ffffff;
	border-bottom: 1px solid #d0d0d0;
	.header-inner {
		height: 64px;
	}
	.container-wide {
		padding-right: 0;
		@media (min-width:1680px) {
			padding-left: 0;
		}
		@media (max-width:1100px) {
			width: 100%;
			padding-left: 0 !important;
			#nav-toggle {
				margin-left: 10px;
			}
			.menu-mobile-navigation-container {
				padding-left: 20px;
			}
		}
	}
	#right-menu {
		align-items: center;
		display: flex;
	}
	#nav-toggle {
		display: none;
		align-self: center;
		width: 53px;
		cursor: pointer;
		z-index: 13;
		margin-top: 0;
		svg {
			rect {
				transition: $transition-links-out;
				transition-delay: 250ms;
			}
		}
	}
	@include media-breakpoint-down(lg) {
		.container-wide {
			padding-left: 15px;
		}
	}
	@media (max-width:$nav-breakpoint) {
		.site-branding {
			position: absolute !important;
			left: 50%;
			margin-left: -58px;
			top: 16px;
		}
		#nav-toggle {
			display: block;
		}
	}
}
.open-menu .site-header {
	#nav-toggle {
		svg {
			rect {
				fill: black;
				color: black;
			}
			#bar1 {
				transform: rotate(45deg) translate3d(2px, -12px, 0);
				transition: $transition-links-in;
			}
			#bar2 {
				transform: translateX(-4px);
				transition: $transition-links-in;
				opacity: 0;
			}
			#bar3 {
				transform: rotate(-45deg) translate3d(-15.5px, 4px, 0);
				transition: $transition-links-in;
			}
		}
	}
}
.logo {
	a {
		display: block;
	}
	width: 115px;
}
nav {
    ul {
	    margin: 0;
    }
    li {
	    display: inline-block;
	    list-style: none;
	    line-height: 1em;
	    &:not(:last-child) {
		    margin-right: 20px;
	    }
	    a, a:visited {
		    font-family: $font-body;
		    font-weight: 500;
		    font-size: 16px;
		    color: $color-body-text;
		    line-height: inherit;
		    display: block;
	    }
	    &.menu-item-has-children {
		    & > a {
			    padding-right: 18px;
		    	&:after {
				    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14.41" height="7.83" viewBox="0 0 14.41 7.83"><path d="M.71.71,6.56,6.56a.91.91,0,0,0,1.28,0L13.71.71" style="fill:none;stroke:#000;stroke-miterlimit:10"/></svg>') no-repeat center center;
				    background-size: 13px;
				    content: "";
				    display: block;
				    width: 13px;
				    height: 6px;
				    position: absolute;
				    right: 0;
				    top: 50%;
				    margin-top: -3px;
			    }
		    }
	    }
    }
    &#right-menu {
	    li:not(.btn-header) {
		    a {
			    color: #7a7a7a;
			    font-size: .84em;
		    }
	    }
	    margin-left: auto;
	    .btn-header {
	    	background: none;
	    	padding: 0;
	    	a {
		    	background: $color-primary;
		    	color: #fff;
		    	text-transform: capitalize;
		    	font-size: 16px;
		    	font-weight: 700;
		    	letter-spacing: 0;
		    	padding-left: 15px;
		    	padding-right: 15px;
		    	color: white;
		    	font-size: 16px;
		    	height: 64px;
			    vertical-align: middle;
			    display: flex;
			    transition: $transition-links-out;
			    align-items: center;
			    &:hover {
				    background: $color-links-hover;
				    transition: $transition-links-in;
			    }
				@include media-breakpoint-up(md) {
				    padding-right: 30px;
				    padding-left: 30px;
				}
				@include media-breakpoint-up(xl) {
				    padding-right: 45px;
				    padding-left: 45px;
				}
		    }
	    }
    }
    &.desktop-navigation {
	    display: flex;
	    align-items: center;
	    margin-left: 25px;
	    #primary-menu {
		    li {
			    display: inline-block;
			    a {
				    
			    }
		    }
	    }
	    .sub-menu {
	    position: absolute;
	    background: #fff;
	    padding: 0;
	    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
	    top: 41px !important;
	    border: 1px solid #eee;
	    border-top: 3px solid $color-secondary;
	    li {
		    display: block !important;
		    line-height: 1em !important;
		    a {
		    }
	    }
	    @include media-breakpoint-up(xl) {
		    margin-left: 45px;
		}
	    @include media-breakpoint-up(md) {
		    max-width: 350px !important;
			li {
				border-bottom: 1px solid rgba(0,0,0,.07);
				padding: 10px 15px;
				margin: 0;
				a {
					white-space: nowrap;
					font-size: .86em;
				}
				&:last-child {
					border-bottom: 0;
				}
			}   
		}
    	}
    }
    &.mobile-navigation {
	    background: transparent;
	    width: 100%;
	    position: absolute;
	    top: 80px;
	    padding: 16px 0;
	    padding-right: 10px;
	    display: none;
	    z-index: 11;
	    height: 100%;
	    #primary-menu {
		    display: block !important;
		    padding-left: 0;
	    }
    	li {
		    float: none;
		    text-align: left;
		    display: block;
		    font-size: 30px;
		    margin-bottom: 30px;
		    transition: all .3s ease-in-out;
		    a {
			    color: white;
			    width: auto;
			    position: relative;
			    padding: 0;
			    opacity: 1;
			    font-weight: 400;
			    white-space: nowrap;
			    font-size: 20px;
			    display: inline-block;
		    }
		    a:not([href]):not([tabindex]) {
			    color: white;
		    }
		    &.show-sub a {
			    font-weight: 700;
			    &:before {
				    
			    }
		    }
		    &.btn {
			    display: none;
			    padding: 0;
			    //display: inline-block;
				a {
					padding: 10px 30px;
				}
			}
		}
		.menu-item-has-children {
			&>a {
				&:after {
	 				content: '';
					display: inline-block;
					width: 12px;
					height: 6px;
					margin-bottom: 3px;
					margin-left: 7px;
					position: relative;
					transition: $transition-links-out;
	 				background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11.45" height="5.81" viewBox="0 0 11.45 5.81"><path d="M11.45,0,7,5.2a1.65,1.65,0,0,1-2.56,0L0,0H1.32L5.2,4.55a.66.66,0,0,0,1,0L10.13,0Z" style="fill:#fff"/></svg>') no-repeat;
				}
			}
			.sub-menu {
			    display: none;
			    margin-left: 0px;
			    padding-left: 10px;
			    margin-top: 6px;
			    border-top: 1px solid rgba(255,255,255, 0.1);
			    padding-top: 10px;
			    li {
					margin-bottom: 15px;
					line-height: 20px;
					a {
						color:  rgba(255,255,255, 0.9);
						width: auto;
						transition: all .5s;
						font-size: 17.5px;
						font-weight: 400;
						
						&:hover {
							color: white;
							opacity: 1;
							transition: all .6s ease-in-out;	
						}
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
    		}
			&.show-sub {
				&>a:after {
					transform: rotateX(180deg);
					transition: $transition-links-in;
					opacity: 1;
				}
		    }
		}
    }
    @media (max-width: $nav-breakpoint) {
	    &.desktop-navigation {
		 	display: none;   
	    }
	    &#right-menu {
			ul li:not(:last-child) {
				display: none;
			}
			
		}
	}
}
.pre-menu-container {
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: 100%;
    z-index: 8;
    display: none;
}
.pre-menu-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    background: #444546;
}

//home hero
.rev_slider {
	.tparrows:before {
		color: $color-hero-title;
	}
	.hermes .tp-bullet:after {
		background-color: $color-hero-title;
	}
	.hermes .tp-bullet {
		box-shadow: inset 0 0 0 2px $color-hero-title;
	}
	.tp-caption {
		border-left: 4px solid $color-secondary;
		white-space: normal !important;
		padding: 10px 0 10px 18px !important;
		max-height: none !important;
		min-height: auto !important;
		h2 {
			font-family: $font-headings !important;
			font-weight: 900 !important;
			font-size: 35px !important;
			color: $color-hero-title !important;
			position: relative !important;
			margin-top: 0 !important;
			line-height: 38px !important;
		}
		p, a {
			font-family: $font-body !important;
			line-height: 31px !important;
			font-size: 21px !important;
			color: $color-body-text;
			font-weight: 300 !important;
			position: relative !important;
		}
		p > a {
			color: $color-links;
		}
		@include media-breakpoint-down(md) {
			padding: 10px 0 10px 14px !important;
			text-shadow: 0 0 10px rgba(255,255,255,1) !important;
			p, a {
				font-size: 17px !important;
				text-shadow: 0 0 10px rgba(255,255,255,1) !important;
			}
			h2 {
				font-size: 30px !important;
			}
			

		}
		@include media-breakpoint-down(sm) {
			border: 0;
			padding: 0 !important;
			letter-spacing: -.5px !important;
			h2 {
				font-size: 22px !important;
				letter-spacing: -.5px !important;
				line-height: 30px !important;
			}
			p, a {
				font-size: 16px !important;
				letter-spacing: -.5px !important;
				line-height: 25px !important;
			}
			

		}
	}
}



//footer
.site-footer {
	background: #6a6b6d;
	border-top: 1px solid #56585a;
}



//common elements and utilities
@keyframes pulse {
	from { transform: scale(1); opacity: .75; }
	to { transform: scale(2); opacity: .0; }
}
.spin {
	animation-name: spin;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.float-right {
	float: right;
}
.separator-bottom {
    position: absolute;
    z-index: 3;
    bottom: -1px; left: 0;
    width: 100%; height: 0;
    .seperator {
	    position: absolute;
	    bottom: -1px;
	    left: 0;
	}
	&.separator-curve {
	}
}
.separator-top {
    position: absolute;
    z-index: 3;
    top: -1px; left: 0;
    width: 100%; height: 0;
    .seperator {
	    position: absolute;
	    top: -1px;
	    left: 0;
	}
}
.container-wide {
	max-width: 1680px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}
.bg-overlay {
	position: absolute;
	height: 100%; width: 100%;
	left: 0; top: 0;
	z-index: 2;
}
.container {
	@media (min-width:1280px) {
		max-width: 1230px;
	}
}
//buttons
.btn {
	background: none;
	border-radius: 3px;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	font-family: $font-headings;
	font-weight: 900;
	text-transform: capitalize;
	transition: $transition-links-out;
	position: relative;
	white-space: normal;
	&:visited {
		color: inherit;
	}
	&:hover {
		transition: $transition-links-in;
	}
	@include media-breakpoint-up(lg) {
		padding: 11px 30px;
	}
}
.btn-outline {
	border: 1px solid;
	&:hover {
		color: white !important;
	}
	&.btn-primary {
		border-color: $color-primary;
	}
	&.btn-light {
		border-color: #d2d2d2;
		color: #4e4e4e;
	}
}
.btn-primary {
	color: #fff;
	background: $color-primary;
	border-color: $color-primary;;
	&:visited {
		color: #fff;
	}
	&:hover {
		background: $color-links-hover;
		border-color: $color-links-hover;
	}
}
.btn-white {
	color: $color-primary;
	background: white;
	border-color: white;
	&:visited {
		color: $color-primary;
		background: white;
		border-color: white;
	}
	&:hover {
		border-color: white;
		background: $color-contrast-blue;
		border-color: $color-contrast-blue;
		color: white;
	}
}
.btn-lg {
	font-size: 1.1rem;
	padding: 13px 20px;
	@include media-breakpoint-up(lg) {
		padding: 13px 60px;
	}
}


// colors
.white {
	color: white;
}
.bg-white {
	background: white;
	z-index: 0;
}
.text-white {
	color: white;
	& p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		color: white;
	}
}




// inside pages
.hero {
	/*
	background: #0892c9;
	background: -moz-linear-gradient(top, #0892c9 30%, #1839c6 100%);
	background: -webkit-linear-gradient(top, #0892c9 30%,#1839c6 100%);
	background: linear-gradient(to bottom, #0892c9 30%,#1839c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0892c9', endColorstr='#1839c6',GradientType=0 );
	padding: 10em 0 8em;
	width: 100%;
	position: relative;
	overflow: hidden;
	*/
	.container {
		z-index: 5;
		position: relative;
	}
	h1.entry-title {
		color: white;
		font-size: 3em;
		margin: 15px 0;
		line-height: 1em;
	}
	.sub-title {
		font-size: 1.5em;
		color: white;
		margin: 15px 0;
	}
	.img-overlay {
		position: absolute;
		width: 100%; height: 100%;
		left: 0; top: 0;
		z-index: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.parallax-overlay {
		position: absolute;
		width: 100%; height: 100%;
		left: 0; top: 0;
		z-index: 2;
		text-align: right;
		.parallax-img {
			right: 0;
			position: absolute;
			bottom: 0;
		}
	}
}

// homepage cta section
.cta-cont {
	img {
		max-height: 132px;
	}
	.card-title {
		margin-top: .75rem;
	}
	.card-footer {
		margin-top: 20px;
		padding: 0px;
		background-color: transparent;
		border-top: 0px;
	}
	.card-deck {
		margin-left: 0;
		margin-right: 0;
	}
	.card:first-child {
		@include media-breakpoint-up(lg) {
			margin-right: 100px;
		}
	}
	.card:last-child {
		margin-bottom: 0;
	}
	@include media-breakpoint-down(sm) {
		.card-deck {
			@include make-col-ready();
			@include make-col(12);
		}
		img {
			max-height: 90px;
			margin-bottom: 10px;
		}
	}
}

// testimonials
.testimonials-wrapper {
	overflow: hidden;
	.btn{
		display: none;
	}
	
	.section{
		padding-bottom:6rem;
	}
}
.testimonial-outer {
	@include media-breakpoint-down(sm) {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.testimonial-slider {
	box-shadow: 0 4px 60px 0 rgba(0,0,0,0.12);
}
.slider-cont {
	&.section .title {
		padding-bottom: 50px;
		h2 {
			margin-top: 0;
		}
	}
	padding-bottom: 50px;
	.section-title {
		padding-bottom: 50px;
		&:after {
			content: url(img/seperators/line.png);
			text-align: center;
			display: block;
		}
	}
	h2 {
		text-align: center;
	}
	.carousel {
		width: 100%;
		.custom-nav {
			cursor: pointer;
			position: absolute;
			z-index: 10;
			height: 46px;
			top: 50%;
			margin-top: -23px;
			&:hover {
				opacity: 0.8;
			}
			&.prev {
				content: url(img/arrow-left.svg);
				left: -50px;
				@media (max-width: 1340px){
					width: 15px;
					left: -30px;
				}
				@media (max-width: 1020px){
					left: -20px;
				}
				@include media-breakpoint-down(md) {
					width: 15px;
					left: -30px;
				}
				@include media-breakpoint-down(sm) {
					left: -15px;
					width: 9px;
				}
			}
			&.next {
				content: url(img/arrow-right.svg);
				right: -50px;
				@media (max-width: 1340px){
					width: 15px;
					right: -30px;
				}
				@media (max-width: 1020px){
					right: -20px;
				}
				@include media-breakpoint-down(md) {
					right: -30px;
					width: 15px;
				}
				@include media-breakpoint-down(sm) {
					right: -15px;
					width: 9px;
				}
			}
		}
		.caro-item {
			text-align: center;
		}
		.slick-slide {
			&>div {
				display: flex;
			}
			&>div:nth-child(2) .card {
				.hover-content {
					top: -100%;
				}
			}
		}
		.card {
			position: relative;
			display: flex !important;
			@include gradient(#ffffff, #f8f8f8, '45');
			border: 0;
			border-radius: 0;
			margin: 0;
			height: 200px;
			@include media-breakpoint-up(sm) {
				height: 250px;
			}
			.hover-content {
				visibility: hidden;
				position: absolute;
				background-color: white;
				top: 0px;
				left: 0;
				overflow: visible;
				z-index: 9;
				width: 100%;
				height: 200%;
				padding: 20px;
				box-shadow: 0 4px 60px 0 rgba(0,0,0,0.12);
				opacity: 0;
				transition:  all 500ms ease-in-out;
				img {
					padding: 10px 0px;
				}
			}
			&:hover {
				.hover-content {
					visibility: visible;
					opacity: 1;
					transition:  all 250ms ease-in-out;				}
			}
			img {
				max-height: 110px;
				width: auto;
				align-self: center;
				@include media-breakpoint-down(sm) {
					max-width: 140px;
				}
			}
			.card-author {
				margin-top: 10px;
			}
			.card-author-position {
				margin-bottom: 10px;
			}
		}
	}
	.carousel-control-prev-icon {
		background-image: url(img/prev.png);

	}
	.carousel-control-next-icon {
		background-image: url(img/next.png);
	}
	.carousel-control-prev {
		left: -150px;
	}
	.carousel-control-next {
		right: -150px;
	}

}
.bottom-cta {
	.display-3 {
		color: white;
		font-size: 2rem;
		@include media-breakpoint-up(sm) {
			font-size: 2.6rem;
		}
		@include media-breakpoint-down(md) {
		br {
			display: none;
		}
		}
	}
	.title {
		padding-bottom: 0;
		br {
			display: none;
		}
	}
	p {
		font-size: 1.25rem;
		font-weight: 300;
	}
}
.globe-area {
	background: #4698dd;
	background-size: auto 110%;
	background-position: -10% center;
	background-repeat: no-repeat;
	border-radius: 0;
	@include media-breakpoint-up(md) {
		background-size: auto 110%;
	}
	@include media-breakpoint-up(xl) {
		background-size: auto 150%;
		background-position: left center;
	}
	@include media-breakpoint-down(sm) {
		background-image: none !important;
	}
}

.global-contact-modal {
	.modal-header {
		flex-wrap: wrap;
		border: 0;
		h2, p {
			width: 100%;
		}
		button {
		    position: absolute;
			right: 10px;
			top: 4px;
			@include media-breakpoint-up(md) {
				right: 20px;
				top: 10px;
			}
		}
		h2 {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 0;
		}
	}
	.modal-dialog-centered {
		max-width: 100%;
		width: 95%;
		@include media-breakpoint-up(md) {
			width: 90%;
		}
		@include media-breakpoint-up(lg) {
			width: 70%;
		}
	}
	.modal-content {
		border-radius: 30px;
		overflow: hidden;
		background: #f9f9f9;
	}
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.lbl {
			display: none;
		}
		br {
			display: none;
		}
	}
	input:not([type="button"]), textarea, select {
		padding: 10px;
		border: 1px solid $color-primary;
		background: white;
	}
	.col-half {
		width: 48%;
		label, span, input, select {
			width: 100%;
		}
		select {
			height: 50px;
		}
		@media (max-width:767px) {
			width: 100%;
		}
	}
	.col-full {
		width: 100%;
		label, span, input, select {
			width: 100%;
		}
		select {
			height: 50px;
		}
	}
	.has-submit {
		text-align: center;
	}
	.wpcf7-form-control-wrap {
		margin-bottom: 15px;
		display: block;
		.wpcf7-not-valid-tip {
			font-size: 14px;
			margin-top: 5px;
		}
	}
	button.wpcf7-submit, input[type="button"], input[type="submit"] {
		background: $color-primary;
		border-color: $color-primary;
		padding: 1rem 4rem;
		font-size: 16px;
		color: white;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		&:hover {
			background: $color-links-hover;
		}
	}
	@include media-breakpoint-up(lg) {
		.modal-header, .modal-body {
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	@media (max-width:767px) {
		z-index: 999999;
		max-height: 100%;
		top: 5px;
		padding-top: 0;
		padding-left: 15px;
		align-items: flex-start;
		.modal-header button {
			right: 20px;
			top: 10px;
		}
		.modal-dialog {
			align-items: flex-start;
		}
	}
	.wpcf7-response-output {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	

}

.site-footer {
	color: white;
	padding: 60px 0px 0px 0px;
	font-size: .89em;
	@include media-breakpoint-up(lg) {
		//padding: 100px 0px 0px 0px;
	}
	.footer-text-logo {
		color: white;
	}
	.fot-pad-top {
		padding-top: 40px;
	}
	.signup-text, .footer-menu-title {
		margin-bottom: 20px;
		font-weight: 900;
	}
	.footer-logo {
		padding-bottom: 30px;
	}
	.footer-menus {
		& > div {
			@include media-breakpoint-up(md) {
				padding-left: 35px;
			}
		}
		.menu {
			margin: 0px;
			padding: 0px;

		}
		ul li {
			position: relative;
			padding: 5px 0px;
			border-bottom: 1px solid grey;
		}

		ul {
			list-style: none;
		}
		li a {
			color: white;
			padding-left: 15px;
		}
		ul li:before{
			font-family: $font-awesome;
			content: '\f0da';
			position: absolute;
			width: 15px;
			height: 15px;
			left: 0px;
		}
	}
	.footer-social-icons {
		display: flex;
		margin-top: 30px;
		a {
			background: #5a5b5c;
			color: #999999;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: flex;
			align-content: center;
			justify-content: center;
			flex-wrap: nowrap;
			&:not(:last-child) {
				margin-right: 10px;
			}
			i {
				display: flex;
				align-items: center;
			}
		}
	}
	.bottom-footer {
		border-top: 2px solid grey;
		padding: 20px 0px;
		.footer-sub-menu {
			li {
				list-style: none;
				display: inline-flex;
				&::after{
					content: ' / ';

					padding-left: 5px;
				}
				&:last-child {
					&::after {
						content: '';
					}
				}

			}
			li a {
				color: white;
			}
		}
	}
}
.flexible-hero {
	
}
.page-hero {
	&.no-hero-img {
		background: #f5f5f5;
		border-bottom: 1px solid #eaeaea;
		min-height: 0;
		padding-top: 45px;
		@include media-breakpoint-up(lg) {
			padding-top: 90px;
		}
		
	}
	&.default-hero {
		background: url(img/post-bg-default.jpg) no-repeat center center #f1f1f1;
		background-size: cover;
		min-height: 0;
		padding-top: 80px;
		padding-bottom: 80px;
		color: white;
		h1 {
			color: white;
		}
		&.no-sub-title.no-button {
			h1 {
				margin-bottom: 0;
			}
		}
	}
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: flex-end;
    padding-bottom: 45px;
    min-height: 300px;
    @include media-breakpoint-up(sm) {
		min-height: 400px;
	}
    @include media-breakpoint-up(lg) {
		padding-bottom: 90px;
		min-height: 500px;
	}
	@include media-breakpoint-down(md) {
		border-bottom: 1px solid #eaeaea;
		background-position: right center !important;
		text-shadow: 0 0 15px rgba(255,255,255,1);
		padding-top: 80px;
		.btn {
			text-shadow: none !important;
		}
	}
	@include media-breakpoint-down(sm) {
		&:not(.default-hero):not(.no-hero-img):not(.page-hero-mobile) {
			display: none !important;
		}
	}
	h1 {
		font-size: 29px;
		font-weight: 900;
		margin-top: 0;
		color: $color-hero-title;
		@include media-breakpoint-up(lg) {
			font-size: 35px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 28px;
		}
	}
	p {
		font-size: 21px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.border-green-left {
		padding-top: 10px;
		padding-bottom: 10px;
		border-left: 4px solid $color-secondary;
		@include media-breakpoint-down(sm) {
			border: 0;
		}
	}
	.header-action {
		.btn {
			color: white;
			min-width: auto;
		}
	}
/*
	.hero-mobile-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba(255,255,255,0.8);
		top: 0;
		left: 0;
		z-index: 1;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
*/
	.container {
		z-index: 3;
	}
	&.page-hero-mobile {
		display: none;
		background: #f6f6f6;
		padding: 0;
		@include media-breakpoint-down(sm) {
			display: block !important;
		}
		padding-top: 0;
		.mobile-hero-row {
			height: 215px;
			width: 100%;
			background-size: cover;
			background-position: center right;
		}
		.mobile-hero-content-row {
			padding-top: 40px;
			padding-bottom: 44px;
		}
	}
}

.align-b {
	bottom: 50px;
	position: absolute;
	left: 100px;
}
$spacerx: 3.5rem;
.section {
	padding-top: 5rem;
	padding-bottom: 5rem;
	@include media-breakpoint-down(md) {
		padding-top: $spacerx;
		padding-bottom: $spacerx;
	}
	&.seperator-y {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
		@include media-breakpoint-down(md) {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
	.title {
		text-align: center;
		padding-bottom: 2.5rem;
		@include media-breakpoint-up(lg) {
			padding-bottom: 4rem;
		}
		h2 {
			margin-top: 0;
			@include media-breakpoint-down(md) {
				br {
					display: none;
				}
			}
		}
		p {
			text-align: center;
			margin-bottom: 10px;
			font-size: 1.25rem;
		}
		&.title-left {
			text-align: left;
			h2 {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	&:not(.title-left) {
		.title {
			@include media-breakpoint-up(lg) {
				padding-left: 12%;
				padding-right: 12%;
			}
		}
		h2 {
			@include media-breakpoint-up(lg) {
				padding-left: 5%;
				padding-right: 5%;
			}
		}
	}
	.green_border {
		&:after {
			text-align: center;
			display: block;
			margin-left: auto;
			margin-right: auto;
			content: "";
			height: 2px;
			width: 120px;
			margin-top: 15px;
			@include media-breakpoint-up(sm) {
				margin-top: 30px;
			}
			background-size: 120px;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="2" viewBox="0 0 120 2"><line y1="0.75" x2="108" y2="0.75" style="fill:#81d135;stroke:#81d135;stroke-miterlimit:10;stroke-width:2px"/><line x1="113" y1="0.75" x2="120" y2="0.75" style="fill:#81d135;stroke:#81d135;stroke-miterlimit:10;stroke-width:2px"/></svg>') no-repeat center center;
		}
	}
	&.title-left {
		.green_border {
			&:after {
				margin-right: auto;
				margin-left: 0;
			}
		}
	}
	.border-left .title h2, .border-left .title p {
		text-align: left;
	}

}
.section.border-left-sec {
	.title {
		padding-bottom: 50px;
	}
	.title h2, .title p {
		text-align: left;
	}
	.green_border {
		&:after {
			text-align: left;
		}
	}

}

.section-claims {
	background-image: url(img/save-millions-bg.jpg);
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-color: #f9f9f9;
	text-align: center;
	.white-sec-inner {
		//background: rgba(255, 255, 255, 0.93);
		box-shadow: 0 0 100px rgba(0,0,0,0.1);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		//padding: 30px;
	}
	.annual-claims-title {
		width: 350px;
		position: absolute;
		left: 0;
		right: 0;
		top: -25px;
		padding-top: 12px;
		margin-top: 0;
		margin-bottom: 0;
		height: 50px;
		vertical-align: middle;
		margin-left: auto;
		margin-right: auto;
		background: $color-dark-blue;
		color: white;
		font-weight: 500;
		b {
			font-weight: 700;
		}
	}
	.claim-item {
		width: 25%;
		flex-basis: 25%;
		padding: 100px 30px 30px;
		text-align: center;
		background: rgba(255, 255, 255, 0.93);
		.claim-img {
			height: 60px;
		}
		.circle-text {
			margin: 30px auto 20px;
			border-radius: 50%;
			background: $color-contrast-blue;
			height: 98px;
			width: 98px;
			color: white;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			align-items: center;
			justify-content: center;
			.price {
				font-size: 23px;
				font-weight: 500;
				display: block;
				text-align: center;
				line-height: 25px;
			}
			.tiny {
				font-size: 11.5px;
				line-height: 12px;
				font-weight: 500;
				padding: 0 10px;
				display: block;
			}
		}
	}
	@include media-breakpoint-down(md) {
		.claim-item {
			width: 50%;
			flex-basis: 50%;
		}
	}
	@include media-breakpoint-down(sm) {
		.claim-item {
			width: 100%;
			flex-basis: 100%;
			margin-bottom: 15px;
			padding-top: 40px;
		}
		.annual-claims-title {
			width: 300px;
		    min-width: 0;
		    padding-top: 14px;
		    max-width: 100%;
		}
		.white-sec-inner > div:nth-child(2) {
			padding-top: 80px;
		}
	}
}
.ecosystem {
	.brand-small {
		text-align: center;
		font-size: 15px;
		color: rgb(118, 118, 118);
		line-height: 1.4;
		margin-top: 30px;
		@include media-breakpoint-up(sm) {
			padding-left: 45px;
			padding-right: 45px;
		}
		@include media-breakpoint-up(xl) {
			padding-left: 95px;
			padding-right: 95px;
		}
	}
	.brand-extra {
		border-width: 1px;
		border-color: rgb(238, 238, 238);
		border-style: solid;
		border-radius: 10px;
		background-color: rgb(249, 249, 249);
		padding: 10px 20px;
		p {
			margin-bottom: 0px;
		}
		margin-left: 20px;
	}
	.subitem p:last-child {
		margin-bottom: 0;
	}
}
.key-dev {
	position: relative;
	background-position: 0 70% !important;
	@include media-breakpoint-down(md) {
		background: #f9f9f9 !important;
	}
	&.seperator-y {
		@include media-breakpoint-up(md) {
			padding-bottom: 9rem;
		}
	}
	h4 {
		margin-bottom: 10px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 5px;
			margin-top: 0;
		}
	}
	.first-sec {
		@include media-breakpoint-up(lg) {
			padding-bottom: 2rem;
		}
	}
	.turn-key-list {
		@include media-breakpoint-up(lg) {
			max-width: 68%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.checkboxes {
		position: relative;
		padding-left: 25px;
		margin-bottom: 15px;
		&:before {
			content: "\f00c";
			font-family: $font-awesome;
			color: #81d135;
			position: absolute;
			left: 0;
			}
			@include media-breakpoint-up(md) {
				&:last-child p {
					margin-bottom: 0;
				}
			}
	}
	@include media-breakpoint-down(sm) {
		.checkboxes {
			margin-bottom: 30px;
		}
		& > div:last-child {
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.seperator-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 0;
    svg {
	    position: absolute;
		bottom: -1px;
		left: 0;
    }
}
.seperator-top {
	@extend .seperator-bottom;
	top: -1px;
	bottom: auto;
	svg {
	    position: absolute;
		top: -1px;
		bottom: auto;
		left: 0;
    }
}
.sensors {
	@include media-breakpoint-up(xl) {
		max-width: 1100px;
	}
	.col-md-4 {
		padding: 0px;
		height: 380px;
		@include media-breakpoint-up(md) {
			height: 520px;
		}
		position: relative;
		&:nth-child(2) .item {
		    background-color: #f5f5f5;
	    }
	    &:nth-child(3) .item {
		    background-color: #efefef;
	    }
	}
	.item {
		background-color: #fafafa;
	    background-position: center center !important;
	    background-repeat: no-repeat;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: auto;
	    z-index: 5;
	    background-size: 348px auto;
	    transition: all .3s;
	    @include media-breakpoint-down(sm) {
		    background-position: center 60px !important;
		}
	    @include media-breakpoint-down(md) {
		    background-size: 240px auto;
		}
	    .item-text {
		    transition: all .4s, opacity .1s;
		    p:last-child {
			    margin-bottom: 0;
		    }
		    @include media-breakpoint-up(lg) {
				visibility: hidden;
				opacity: 0;
				position: absolute;
			    left: 0;
			    width: 100%;
			    padding-left: 30px;
			    padding-right: 30px;
			}
	    }
		.item-copy {
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    padding: 4em 1em 2.5em 1em;
		    text-align: center;
		    transition: all .3s;
		    perspective: 200px;
		    .item-title {
			    color: $color-links;
		    }
		}
		.link {
		    display: block;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    top: 0;
		    text-align: center;
		}
		@include media-breakpoint-up(lg) {
			&:hover {
				bottom: -1.5em;
			    top: -1.5em;
			    z-index: 10;
			    background-size: 390px auto;
				.item-copy {
					padding-bottom: 8rem;
					.item-text {
					    visibility: visible;
					    transition: all .4s;
					    opacity: 1;
				    }
				}
			}
		}
	}
	.sensor-items-row {
		@include media-breakpoint-down(sm) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.img-text-cont {
	background-color: white;
	padding: 15px 20px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	display: flex;
	width: 100%;
	div {

		float: left;
	}
	img {
		padding-right: 20px;
	}
	h5 {
		margin-bottom: 8px;
	}
	p {
		margin-bottom: 0;
		br {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}
}

.policy-stories {
	.stories-item-wrapper {
		@include media-breakpoint-up(md) {
			padding-left: 15px;
			padding-right: 15px;
		}
		display: flex;
		align-items: stretch;
		.stories-item {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
		}
	}
	.story-img {
		height: 200px;
		@include media-breakpoint-up(md) {
			height: 265px;
		}
		width: 100%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-size: cover;
	}
	.story-body {
		margin-top: 10px;
		padding: 20px;
		background: $color-primary;
		color: white;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		h5 {
			color: white;
			font-weight: 700;
			line-height: 1.5em;
		}
		p {
			margin-bottom: 10px;
		}
		a {
			color: white;
			font-weight: 500;
			text-decoration: underline;
			font-size: 15px;
			display: block !important;
		}
	}
}

.more-details {
	background-color: #fafafa;
	.more-details-col {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.img-text-cont-outer {
		//width: 48%;
		@include make-col-ready();
		@include make-col(6);
		display: flex;
		@include media-breakpoint-down(md) {
			@include make-col(12);
		}
	}
	.img-text-cont {
		display: flex;
		align-items: flex-start;
	}
	.img-more {
		width: 61px;
		height: 61px;
		min-width: 61px;
		max-width: 61px;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		margin-right: 18px;
		img {
			padding: 0;
		}
	}

}
.app-services {
	.img-more {
		min-width: 109px;
		max-width: 109px;
		max-height: 109px;
		min-height: 109px;
		border-radius: 50%;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
		border: 0px;
		overflow: hidden;
	}
	.img-text-cont img {
		padding: 0px;
	}
	.img-text-cont {
		border: 0px;
		padding-right: 0px;
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
			padding-left: 0;
			.img-more {
				margin-bottom: 15px; 
			}
			.text {
				padding-left: 0;
			}
		}
		br {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}
	.text {
		padding-left: 20px;
	}
	.sli {
		width: 458px;
	}
	border-bottom: 1px solid #e8e8e8;
}
.team-talk {
	//background: url('img/bgmore.png') no-repeat center bottom;
	text-align: center;
	color: white;
}
.row-of-cards {
	&>div {
		display: flex;
	}
	.card {
		display: flex;
		padding: 35px 25px 30px;
		.c-img {
			height: 80px;
			margin-bottom: 15px;
			display: flex;
			align-content: center;
		}
		.card-title {
			margin-top: 0;
		}
		.card-footer {
			padding: 0;
		}
	}
	@include media-breakpoint-down(sm) {
		.card {
			margin-bottom: 15px;
		}
		&>div:last-child .card {
			margin-bottom: 0;
		}
	}
}
.roost-connects {
	img {
		margin: 0 auto;
	}
	.card {
		border: 0px;
		box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.07);
	}
	.card-footer {
		border: 0px;
		background-color: transparent;
	}
	h5 {
		font-size: 19px;
		font-weight: 500;
		color: #231f20;
	}
}
.meet-roost {
	text-align: center;
	.card {
		border: 0px;
	}
	.card-footer {
		border: 0px;
		background-color: transparent;
	}
	h5 {
		font-size: 20px;
		font-weight: 900;
		color: #2a4878;
	}
	.btn {
		border: 2px solid #378fdb;
		border-radius: 2px;
		text-transform: none;
		font-weight: 900;
		font-size: 16px;
	}
	@include media-breakpoint-down(sm) {
		br {
			display: none;
		}
	}
}
.whats-new {
	color: #fff;
	position: relative;
	.btn {
		min-width: 200px;
	}
}
.the-team {
	.top-name-title {
		font-style: italic;
		font-size: 16px;
		font-weight: 500;
		padding-bottom: 10px;
	}
	.name {
		font-style: normal;
		font-size: 20px;
		font-weight: 900;
	}
}
.roost-careers {
	padding: 0px;
	color: white;
	text-align: center;
	h2 {
		color: white;
	}
	.btn {
		background-color: #378fdb;
		color: white;
		margin-top: 40px;
	}
	.title {
		padding-bottom: 50px;
	}
}
.horizontal-boxes {
	background-size: auto 100% !important;
	padding-top: 0px;
	padding-bottom: 0px;
	@include media-breakpoint-down(sm) {
		background-position: -50% top !important;
	}
	> .row {
		align-content: center;
	}
	&:not(.boxes-with-carousel) {
		.horizontal-boxes .boxs-row .img-cont {
		    padding-bottom: 15px;
		    padding-top: 15px;
		    border-radius: 80px;
		    padding-left: 0;
		    padding-right: 0;
		}
		.img-cont {
			img {
				max-height: 380px;
				width: auto;
				max-width: 94%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.dotted-gradient {
		background-image: linear-gradient(to bottom, #81d135 20%, rgba(255, 255, 255, 0) 0%);
		background-position: right;
		background-size: 2px 10px;
		background-repeat: repeat-y;
		align-items: center;
	    align-content: center;
	    display: flex;
	    flex-wrap: wrap;
		p {
			padding-right: 100px;
			position: relative;
				&::after {
				content: url(img/dot.svg);
				position: absolute;
				right: -32px;
				top: -25px;
			}
		}
	}
	.green_border {
		margin-top: 40px;
		&:after {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.img-cont {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		text-align: center;
		background-color: white;
		padding: 50px;
		margin-bottom: 50px;
	}
	.boxs-row {
		@include media-breakpoint-down(sm) {
			&:not(:last-child){
				margin-bottom: 45px;
			}
		}
		.img-cont {
			padding-bottom: 40px;
			padding-top: 40px;
			border-radius: 40px;
			@include media-breakpoint-up(lg) {
				padding-bottom: 50px;
				padding-top: 50px;
				border-radius: 60px;
			}
			@include media-breakpoint-up(xl) {
				padding-bottom: 60px;
				padding-top: 60px;
				border-radius: 80px;
			}
		    display: flex;
			align-content: center;
			align-items: center;
			box-shadow: 0 0 50px rgba(0,0,0,0.08);
		}
		.carousel {
			@include media-breakpoint-up(xl) {
				max-height: 300px;
				height: 300px;
				min-height: 300px;
			}
			img {
				max-height: 300px;
			}
			overflow:  visible;
		}
		.carousel-indicators {
			bottom: -60px;
			li {
				background-color: rgba(0,0,0,0.4);
				border-radius: 6px;
				height: 5px;
				&.active {
					background-color: rgba(0,0,0,1);
				}
			}
		}
		.learn-more-btn {
			font-weight: 500;
			padding: 5px 30px 5px 10px;
			&:after {
			    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13.07" height="7.2" viewBox="0 0 13.07 7.2"><path d="M.71.71,6,6A.81.81,0,0,0,7.11,6L12.36.71" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px"/></svg>') no-repeat center center;
			    background-size: 13px;
			    content: "";
			    display: block;
			    width: 13px;
			    height: 6px;
			    position: absolute;
			    right: 10px;
			    top: 50%;
			    margin-top: -3px;
		    }
		    &:hover {
			    background: #d2d2d2;
			    color: #4e4e4e !important;
		    }
		}
		.btn-play {
			font-weight: 500;
			color: $color-primary;
			cursor: pointer;
			display: inline-block;
			.fas {
				font-size: 21px;
				vertical-align: middle;
			}
			&:hover {
				border-color: $color-primary;
			}
		}
		&:nth-child(1){
			.img-col {
				@include media-breakpoint-up(md) {
					padding-top: 80px !important;
				}
			}
		}
		&:nth-child(3){
			.img-col {
				padding-bottom: 80px;
			}
		}
	}
	.modal-content {
		padding: 20px;
		position: relative;
		.close {
			position: absolute;
			right: 20px;
		}
		.nav-tabs .nav-link {
			font-weight: 500;
		}
		.tab-content {
			ul, ol {
				margin-left: 0;	
			}
			li {
				margin-bottom: 10px;
			}
		}
	}
	@include media-breakpoint-up(md) {
		.learn-more-modal {
			.modal-dialog {
	    		max-width: 90%;
				margin: 1.75rem auto;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.dotted-gradient {
			background: none;
			p::after {
				display: none;
			}
		}
	}
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #231f20;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-item {
	i {
		font-size: 0.8em;
		vertical-align: middle;
	}
}
.modal .tab-content {
	padding-top: 30px;
}
				
.additonal-app {

	background-color: #f9f9f9;
	.img-text-cont {
		border: 0px;
		padding: 30px 20px;
		background-color: white;
		box-shadow: 0px 2px 20px 7px rgba(0,0,0,0.07);
	}
	.img-more img {
		max-width: 130px;
	}
	.active-box {
		border-radius: 5px;
		border-left: 3px solid #81d135;
	}
	.carousel-item{

		text-align: center;
	}
	.sli {
		max-height: 630px;
	}
	.carousel-indicators {

		li {
			background-color: #a3a3a3;
		}
 		.active {
			background-color: #81d135;
		}
	}
	a {
		font-weight: 500;
	}
}
.full-custom-integration {
	background-color: #edf0f2;
	.container {
		background-color: #fff;
	}
	.title {
		padding-bottom: 50px;
	}
	p {
		font-size: 20px;
	}
	.pp {
		padding-left: 30px;
		padding-right: 30px;
		@include media-breakpoint-up(xl) {
			padding-left: 240px;
			padding-right: 240px;
		}
		.img-h {
			margin-right: 20px;
			max-width: 80px;
		}
	}
	.sub-title-section {
		margin-left: 20px;
	}
}
.ins-sol {
	text-align: center;
	h2 {
		font-size: 45px;
		font-weight: 100;
		padding-bottom: 20px;
	}
}
.how-it-works {
	border-bottom: 1px solid #e2e2e2;
	
	.row {
		align-items: center;
	}
	.img-text-cont {
		
	}
	.img-text-cont-outer {
		position: relative;
		.img-more {
			min-width: 60px;
			width: 60px;
			max-width: 60px;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;
			margin-right: 15px;
			img {
				padding: 0;
			}
		}
		&:after {
			content: "1";
			background: white;
			height: 40px;
			width: 40px;
			@include media-breakpoint-down(sm) {
				width: 28px;
				height: 28px;
				font-size: 16px;
				left: -10px;
				top: -10px;
			}
			position: absolute;
			border-radius: 50%;
			border: 1px solid #eaeaea;
			font-size: 21px;
			font-weight: 900;
			color: $color-secondary;
			left: -15px;
			top: -15px;
			display: flex;
			align-content: center;
			justify-content: center;
			align-items: center;
		}
		&:nth-child(2) {
			&:after {
			content: "2";
			}
		}
		&:nth-child(3) {
			&:after {
			content: "3";
			}
		}
	}
	.sli {
		width: 720px;
	}
}

//blog
#primary.content-area {
	padding: 80px 0;
}
.entry-meta {
	color: #909090;
	a {
		color: #909090;
	}
}

//archive
.page-header.archive {
	width: 100%;
	background: #f5f5f5;
	border-bottom: 1px solid #e4e4e4;
}


//hide not ready content
.policy-stories {
	.btn {
		a {
		display: none !important;
	}
	}
}